<div class="container">
  <div class="row top">
    <p>Game Hub</p>
  </div>
  <div class="row middle">
    <div class="col navigation" *ngIf="menuToggle">
      <a class="ion-ios-menu" (click)="menuToggle=!menuToggle"></a>
      <a routerLink="/">Checkers</a>
    </div>
    <div class="col navigation" *ngIf="!menuToggle">
      <a class="ion-ios-menu" (click)="menuToggle=!menuToggle"></a>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row bottom">
    <p>Bottom</p>
  </div>
</div>
