<div class="container">
  <div class="row header">
    <p style="flex: 1 1 auto">Game Hub</p>
    <button class="btn btn-default signon" routerLink="signon" *ngIf="!user">Sign in</button>
    <button class="btn btn-default signon" routerLink="signon" *ngIf="user" (click)="signOut()">Sign out</button>
  </div>
  <div class="row navigation">
    <a routerLink="/">Checkers</a>
    <a routerLink="chess">Chess</a>
  </div>
  <div class="row middle">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row bottom">
  </div>
</div>
<message></message>
