.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  flex: 0 1 auto;
  justify-content: space-around;
}

.middle {
  flex: 1 1 auto;
}

.bottom {
  flex: 0 1 auto;
}

.navigation {
  align-items: center;

}

.navigation a {
  margin: 15px;
}

.content {
  flex: 1 1 auto;
}

router-outlet {
  height: 100%;
}

.ion-ios-menu {
  font-size: 22pt;
}
