.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  flex: 0 1 auto;
  justify-content: space-around;
}

.middle {
  flex: 1 1 auto;
}

.bottom {
  flex: 0 1 auto;
}
