<div style="height: 100%">
  <div *ngIf="startMenu" class="col start-menu">
    <h1>Chess</h1>
    <div class="col type-selector">
      <p>Select Game Type: </p>
      <select [(ngModel)]="selectedMatchType" (change)="gameTypeSelect()">
        <option *ngFor="let type of availableMatchTypes">{{type}}</option>
      </select>
    </div>
    <button (click)="startGame()">START</button>
  </div>
  <canvas #canvas *ngIf="!startMenu"
          (mousedown)="canvasMouseDown($event)" (mousemove)="canvasMouseMove($event)" (mouseup)="canvasMouseUp($event)"></canvas>
</div>
<confirm #confirm></confirm>
