table, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  flex: 0 1 auto;
  table-layout: fixed;
  width: 100%;
}

tr {
  max-width: 100%;
}

td {
  text-align: center;
  max-width: 100%;
  overflow-wrap: break-word;
}

.container {
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}
